[submodule "themes/hugo-resume"]
	path = themes/hugo-resume
	url = https://github.com/eddiewebb/hugo-resume.git
[submodule "public"]
	path = public
	url = https://github.com/marco-kretz/marco-kretz.github.io.git
